{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="shadow-md w-1/2 my-6 mx-auto p-6 rounded-xl">
        <h1 class="mb-10 text-3xl font-bold">Log in</h1>
        <form action="." method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="inline-block mb-2">Username</label><br>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Password</label><br>
                {{ form.password }}
            </div>

            {% if form.error or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.none_field_errors }}
                </div>
            {% endif %}

            <button class="mt-16 px-6 py-4 rounded-xl bg-white border-2 border-black hover:bg-green-400"><i class="fa-solid fa-download fa-xl"></i></button>
        </form>
    </div>
{% endblock %}