{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="p-6 grid grid-cols-4 gap-4 rounded-xl">
    <!-- Sidebar -->
    <div class="shadow-md p-6 col-span-1 rounded-xl">
        <form method="get" action="{% url 'item:items' %}">
            <input type="text" name="query" class="w-full py-4 px-6 border rounded-xl" value="{{ query }}" placeholder="Find the items you like..."/>

            <button class="mt-6 inline-block px-4 py-3 font-semibold rounded-xl hover:text-green-500"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
            <a href="{% url 'item:items' %}" class="mt-6 inline-block px-4 py-3 font-semibold rounded-xl hover:text-green-500"><i class="fa-solid fa-eraser fa-xl"></i></a>
        </form> 
        <hr class="my-6">
        <p class="mb-5 text-2xl font-bold">Categories</p>
        <ul>
            {% for category in categories %}
                <li class="py-2 px-2 rounded-xl text-lg font-medium{% if category.id == category_id %} bg-gray-50 {% endif %}">
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Items -->
    <div class="shadow-md p-6 col-span-3 rounded-xl">
        <div class="grid grid-cols-3 gap-3">
            <!-- Card for each item. -->
            {% for item in items %}
            <div class="shadow-md rounded-xl">
                <a href="{% url 'item:detail' item.id %}">
                    <div> 
                        <img src="{{ item.image.url }}" class="h-48 w-full object-cover rounded-t-xl">
                    </div>
                    <!-- Name and Price -->
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="mb-6 text-xl font-medium">{{ item.name }}</h2>
                        <p class="text-sm font-medium">₱ {{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}