{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
<div class="max-w-screen-xl mx-auto">
    <div class="w-full p-6 md:px-10 md:py-5 rounded-md">
        <form method="get" action="{% url 'item:view_items' %}">
            <div class="flex">
                <label for="search-dropdown"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search Items</label>
                <button id="dropdown-button" data-dropdown-toggle="dropdown"
                    class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                    type="button">All categories <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg></button>
                <div id="dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                        {% if categories %}
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'item:view_items' %}?query={{ query }}&category={{ category.id }}"
                                type="button"
                                class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                {{ category.name }}
                            </a>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li>
                            <p
                                class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                Empty Category
                            </p>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="relative w-full">
                    <input type="text" name="query" value="{{ query }}" id="search-dropdown"
                        class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                        placeholder="Search for items..." required>
                    <a href="{% url 'item:view_items' %}" type="button"
                        class="absolute inset-y-0 right-0 flex items-center pr-3">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z" />
                        </svg>
                    </a>
                </div>
                <button type="submit"
                    class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg> Search
                </button>
            </div>
        </form>
    </div>
    <!-- Items -->
    <div class="w-full mt-3 p-6 md:px-10 md:py-10 rounded-md">
        {% if items %}
        <div class="flex flex-wrap">
            <!-- Card for each item. -->
            {% for item in items %}
            <div class="w-full max-w-sm m-1 rounded-lg border border-gray-200 dark:border-gray-700">
                <a href="{% url 'item:view_item_detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="h-48 w-full object-cover rounded-t-lg">
                    </div>
                    <!-- Name and Price -->
                    <div class="p-6 rounded-b-lg">
                        <h2 class="text-lg font-normal text-gray-900 dark:text-white">{{ item.name }}</h2>
                        <p class="text-lg font-semibold text-gray-900 dark:text-white">₱ {{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="flex justify-center">
            <div>
                <img class="h-96" src="{% static 'empty.svg' %}" alt="">
            </div>
        </div>
        <div class="flex justify-center">
            <div class="flex-col text-center">
                <div>
                    <h1
                        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                        Oops, no items match that criteria.</h1>
                </div>
                <div>
                    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">It looks like there
                        are no items that match your criteria. Don't worry, our marketplace is constantly evolving. Try
                        adjusting your filters or be the first to list an item in this category!
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}