{%extends 'core/base.html'%}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="shadow-md mt-6 px-6 py-12 rounded-xl">
        <h2 class="mb-10 text-3xl font-bold text-center">My Items</h2>
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
            <div class="shadow-md rounded-xl">
                <!-- Card for each item. -->
                <a href="{% url 'item:detail' item.id %}">
                    <div> 
                        <img src="{{ item.image.url }}" class="h-48 w-full object-cover rounded-t-xl">
                    </div>
                    <!-- Name and Price -->
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="mb-6 text-xl font-medium">{{ item.name }}</h2>
                        <p class="text-sm font-medium">₱ {{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}